<div *ngIf="testRes?.testId">
  <hc-spinner [items]="items"></hc-spinner>
  <hc-thread-card [items]="items" [ngStyle]="{'display': items.length > 0 ? 'block' : 'none'}"
    (commentedSelect)="commentedSelected($event, displayComment)">></hc-thread-card>
  <hc-thread-card [items]="items" [ngStyle]="{'display': items.length > 0 ? 'block' : 'none'}"
    (commentedSelect)="commentedSelected($event, displayComment)"></hc-thread-card>

  <hc-modal-card-detail [ngClass]="(modalClose == false) && (displayComment == true ) ? 'showCard': 'hideCard'"
    *ngIf="slcm">
    <ng-component>{{ slcm | json }}</ng-component>
    <div class="card border-0 w-100 mb-3">
      <div class="card border-bottom border-0 rounded-0">
        <div class="card-body border-0">
          <h5 class="card-title pb-2">{{ slcm.title }}</h5>
          <div class="d-flex justify-content-between align-self-center w-100" style="color: grey;font-weight: 100;">
            <div class="d-flex justify-content-between w-100">
              <p class="card-text pb-2 d-flex justify-content-between gap-3"> {{ slcm.score }} points by {{ slcm.by }}
                <span class="mx-2x">|</span>
                <span class="py-10 mr-2">{{ extractDomain(slcm.url) }}</span> |
                <span class="d-flex align-self-center">
                  {{ getTimeAgo(slcm.time) }}
                </span>
              </p>
              <p class="pull-right w-25 border-0 modal_comment"><span>{{ slcm?.kids?.length }}</span>
                Comment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="close-button_popup" (click)="CloseModal()">X</button>
  </hc-modal-card-detail>
</div>